
/*  font-family: Abel  */
@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

/*  font-family: Anton  */
@font-face {
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}

/*  font-family: Josefin  */
@font-face {
    font-family: Josefin;
    src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

/*  font-family: Lexend  */
@font-face {
    font-family: Lexend;
    src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}

/*  font-family: Livvic  */
@font-face {
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf');
}

/* font-family : Oswald */
@font-face{
    font-family: Oswald;
    src: url('../fonts/Oswald/static/Oswald-Medium.ttf')
}

/* font-family : Playfair_Display */
@font-face{
    font-family: Playfair_Display;
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf')
}

/* font-family : Source_Sans_Pro */
@font-face{
    font-family: Source_Sans_Pro;
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
}

/* font-family : Tapestry */
@font-face{
    font-family: Tapestry;
    src: url('../fonts/Tapestry/Tapestry-Regular.ttf')
}